$--color-primary: #9147ff;
$--color-primary-bright: #DEC8FF;
$--color-primary-dark: #772ce8;
$--color-black: #1F1926;
$--color-border: #d6d6de;
$--color-success: #46954a;
$--color-success-dark: #347d39;
$--color-danger: #C93C37;
$--font-size-large: 36px;
$--font-size-medium: 24px;
$--font-size-small: 18px;
$--nav-height: 100px;

$--modal-header-height: 60px;
