.btn--primary {
  padding: 10px;
  border-radius: 10px;
  background-color: $--color-primary;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.btn--primary:hover {
  background-color: $--color-primary-dark;
}
