@import './config.scss';
@import './_variables.scss';
@import './common.scss';

@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff')
  format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  color: $--color-black;
  font-family: BMHANNAPro, serif;
}
